{% extends 'base.html.twig' %}

{% block title %}Mode Administrateur{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Mode administrateur</h1>
<hr>
<div class="row">
    <div class="col-sm-12 text-center">
    {% if app.user %}
        <h6>Bienvenue {{ app.user.email }} dans votre espace personnel d'administration</h6>
    {% endif %}
    </div>
    <div class="col-sm-12 text-center d-flex justify-content-center my-3">
    <ul class="list-group w-50">
        <li class="list-group-item"><a href="{{ path('admin')}}" >Interface d'administration</a></li>
        <li class="list-group-item"><a href="{{ path('app_account_password') }}" >Modifier mon mot de passe</a></li>
        <li class="list-group-item"><a href="{{ path('app_interventions') }}" >Demandes d'interventions</a></li>
    </ul>
    </div>
</div>

{% endblock %}
