{% extends 'base.html.twig' %}


{% block carousel %}{% endblock %}


{% block content %}

<div class="row">
      <div class="col-lg-4">
        <a class="bd-placeholder-img rounded-circle fa-solid fa-user-doctor-message"></a>
        <h2 class="fw-normal">Une question ou un conseil, contactez nous!</h2>
        <p>Vous Souhaitez faire une demande de devis pour des travaux de plomberie ou un réaménagement?</p>
        <p>Nous vous proposerons un devis gratuit dans les plus brefs délais!</p>
        <p><a class="btn" href="{{ path('app_contact') }}">Nous contacter &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2 class="fw-normal">Des prestations de qualité : </h2>
        <p>Sanitaires, Entretiens et dépannage des chaudières gaz murales, plomberie, VMC, bains, cuisines, etudes et plans 3d des installations projetées</p>
        <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2 class="fw-normal">Dépannage d'urgence</h2>
        <p>Besoin d'un dépannage d'urgence ? N'hésitez pas à nous contacter par téléphone au <b>06 23 54 08 93</b></p>
      </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 pb-2">Intervention en urgence à votre domicile.</h2>
        <p class="lead">Nous restons disponible à votre service 24h sur 24, 7 jours sur 7 au : </p>
        <h3><b>06 23 54 08 93</b></h3>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/images/robinetsvg.svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/assets/images/robinet2.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
      </div>
    </div>

    <hr class="featurette-divider">

  {% endblock %}


